doctype html
html(lang='ru')
	head
		meta(charset='UTF-8')
		meta(name='viewport' content='width=device-width, initial-scale=1')
		title 
			block title
		//build:css css/vendor.min.css
		//bower:css
		//endbower
		//endbuild
		//build:css css/combined.min.css
		link(rel="stylesheet" href="css/main.css")
		//endbuild
		//build:js js/vendor.min.js
		//bower:js
		//endbower
		//build:js js/combined.min.js
		script(src="js/main.js")
		//endbuild
	body
		| <!--[if lt IE 10]>
		|   <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		| <![endif]-->
		.wrap
			block content
			include ./footer.jade
		