// @import "app/bower_components/bootstrap-sass/assets/stylesheets/bootstrap-custom";
@import "bourbon/bourbon";
@import "fonts";
@import "vars";
@import "mixins";
@import "bourbon/bourbon";

/* begin ALOHA-FW 

1. LAYOUT
2. ICONS
3. BUTTONS





end ALOHA-FW */


/* begin 1.LAYOUT */

html, body {
	height: 100%;
}

body {
	@include selection {
  		background-color: #feeb92;
	}
	line-height: 1;
	font-size: 16px;
}






/* end 1.LAYOUT */

/* begin 2.ICONS */




/* end 2.ICONS */

/* begin 3. BUTTONS */



/* end 3. BUTTONS */